HTML{
    background-image: url(/src/images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
 }

.container{
    background-color: lightcyan;
   height: 100%;
}
#containerTable{
    font-weight: bold;
    width: 70%;
    align-items: 'center';
    margin-bottom: 10%;
}
